# --------------------
# Django
# --------------------
staticfiles/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# --------------------
# Node (if any)
# --------------------
node_modules/

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Logs
# --------------------
*.log
