footer .container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
footer {
  width: 100vw;
  overflow-x: hidden; /* avoid horizontal scrollbars */
 padding-left: 0 !important;
}
html, body {
  overflow-x: hidden;
}
.footer-link {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffc107; /* Bootstrap warning color */
  text-decoration: underline;
}

.social-icon {
  color: #f8f9fa;
  font-size: 18px;
  margin-right: 15px;
  transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
  color: #ffc107;
  transform: scale(1.2);
}
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
